RewriteEngine On
RewriteBase /

# Do nothing
RewriteRule ^index\.php$ - [L]

RewriteRule ^home$ /index.php [L]
RewriteRule ^register$ /register.php [L]
RewriteRule ^login$ /login.php [L]

# Redirect if no exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [R]